@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Raleway", sans-serif;
    background-color: #f5f8ff;
}
.m-auto{
    max-width: 1140px;
    margin: 0 auto;
}
.btn{
    background: #4E47FF;
    color: #ffffff;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
}
.btn:hover{
    background-color: yellow;
    cursor: pointer;
    color: #000;
}
.heading{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}

/* ----------Header--------- */
header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 698px;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.logo{
   font-family: "Inter", sans-serif;
   text-decoration: none;
   color: #4E47FF; 
   font-size: 34px;
   font-weight: 900;
}
.banner{
    text-align: center;
}
.banner h1{
    font-size: 65px;
    font-weight: bold;
    max-width: 905px;
    margin: 0 auto;
    margin-bottom: 37px;
    margin-top: 158px;
}

/* ----------Action Section----------- */
main section{
    padding: 50px 0;
}
.action-left h1{
    margin-bottom: 23px;
}
.action-left p{
    font-size: 24px;
    color: #252432;
    margin-bottom: 23px;
}
.action-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 220px;
}
.action-right img{
    width: 100%;
    border-radius: 48px;
}

/* --------Users Section----------  */
.users-section .container{
    background-color: #e5e7ff;
    border-radius: 24px;
    padding: 50px 142px;
}
.data-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.data h1{
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.data p{
    font-size: 20px;
}

/* ----------Feedback Section---------  */
.feedback-section .heading{
    text-align: center;
}
.reviews-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.reviews{
    padding: 24px;
    background-color: #ffffff;
    border-radius: 14px;
    box-shadow: 0 0 0.8px black;
}
.stars{
    margin-bottom: 24px;
}
.reviews h2{
    margin-bottom: 8px;
}
.avatar{
    display: flex;
    margin-top: 24px;
    gap: 12px;
}
.avatar img{
    border-radius: 50%;
}
.avatar-title h3{
    color: #757575;
}
.avatar-title p{
    color: #757575dc;
}

/* -----------Focus Section--------- */
.focus-section .inner{
    padding: 71px 150px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 14px;
}
.focus-section *{
    margin-top: 20px;
}
.focus-section img{
    width: 100%;
    border-radius: 48px;
}

/* ----------Contact Section---------  */
.contact-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 115px;
}
.left h1{
    font-size: 97px;
    font-weight: bold;
}
.right label, .right input, .right textarea{
    display: block;
    width: 433px;
}
.right label{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 19px;
    margin-bottom: 10px;
}
.right input, .right textarea{
    padding: 20px 32px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #b1aeae59;
    outline: none;
}
input[type="submit"]{
    width: 497px;
    margin-top: 19px;
    font-size: 16px;
}

/* -------footer--------  */
footer{
    background-color: #ffffff;
    padding: 104px 0;
}
.footer-content{
    max-width: 531px;
    margin: 0 auto;
    text-align: center;
}
.footer-logo{
    font-family: "Inter", sans-serif;
    font-size: 100px;
    font-weight: 900;
    text-decoration: none;
    color: #4E47FF;
}
.footer-content p{
    font-size: 16px;
    font-weight: 500;
    color: #8987A1;
    margin-top: 10px;
}
.footer-content ul li{
    list-style: none;
    display: inline-block;
    margin: 20px 24px;
}
.footer-content ul li a{
    text-decoration: none;
    color: #8987A1;
    font-size: 18px;
    font-weight: 500;
}
.footer-content ul li a:hover{
    text-decoration: underline;
    color: #4E47FF;
}